
<% @locations.each do |location| %> 
<strong></strong>
	<h4>Location: <%= location.name%> 

	<%= link_to "Edit", location %> | <%= link_to "Delete", location, method: :delete, data: {confirm: 'Are you sure?'} %></h4> 

	<% location.recordings.each do |recording|%>  
	<div class= "row">
	<div class="col-md-offset-1">
	<br></br>
	<p> Temp: <%= recording.temp%></p>
	<p> Status: <%= recording.status%></p>


	</div>
	</div>
	<% end %>
<% end %>