<div class = "row">
	<div class = "col-md-7 col-md-offset-2">

		<h3> <%= @location.name %> </h3>

		<p>
			<%  if (user_signed_in? &&(current_user.id == @location.user_id)) %>
				

				| <%= link_to "Edit", edit_location_path(@location) %>
				| <%= link_to "Delete", location_path(@location), method: :delete,
				data: {confirm: 'Are you sure?'} %>

			<% end %>

		</p>

		<p> <%= @location.name %></p>
		<div>
			<h5> <%= @location.recordings.count %> Recordings
			</h5>
			<hr>
			<%= render @location.recordings %>


			<h5>Add a recording </h5>

			<%= render 'recordings/form'  %>

		</div>
	</div>
</div>